{% from "partials/icon.njk" import icon %}

<header class="site-head"{% if site.cover_image %} style="background-image: url('{{ site.cover_image }}')"{% endif %}>
{% include 'partials/navigation.njk' %}
    <div class="container">
       
        {% if page.url == '/' %}
            <div class="site-banner">
                <h1 class="site-banner-title">{{ site.title }}</h1>
                <p class="site-banner-desc">{{ site.description }}</p>
            </div>
        {% endif %}

        
    </div>
</header>
